@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'variables';
@import './styles.scss';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Verdana, Geneva, Sans-Serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
    border-bottom: 1px solid;
    display: inline-block;
}
